@font-face {
    font-family: "Sketch";
    src: url(fonts/Sketch-3D.ttf);
}


html, body {
    background-color: azure;
    min-height: 100vh;
}

h1 {
    font-family: "Sketch", sans-serif;
    font-size: 3vw;
}

.box {
    margin: auto;
    width: 50%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text1 {
    font-size: 1.3vw;
    color: #7ea0bb;
    font-weight: lighter;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.contact{
    display: flex;
    justify-content: center;
    border-top-style: solid;
    font-family: Roboto, sans-serif;
}


.text2 {
    font-size: 1.3vw;
    color: #bb8aad;
    font-weight: lighter;
    text-align: center;
    font-family: Roboto, sans-serif;
}
.info{
     margin-left: 28.4%;
    margin-top: -2.45%;
 }

.mail{
    margin-left: 40%;
    margin-top: -2.45%;
}

.adress{
    margin-left: 55%;
    margin-top: -2.45%;
}