@font-face {
    font-family: "Sketch 3D";
    src: url(/fonts/sketch-3d.ttf);
}


html, body {
    background-color: azure;
    min-height: 100vh;
}
footer {
    display: flex;
    justify-content: center;
    border-top-style: solid;
    font-family: Roboto, sans-serif;
}

h1 {
    font-family: "Sketch 3D", sans-serif;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: #bb8aad;
}

.box {
    margin: auto;
    width: 50%;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text1 {
    font-size: 1.3vw;
    color: #7ea0bb;
    font-weight: lighter;
    text-align: center;
    font-family: Roboto, sans-serif;
}



.text2 {
    font-size: 1.3vw;
    color: #bb8aad;
    font-weight: lighter;
    text-align: center;
    font-family: Roboto, sans-serif;
}