<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Om ønskelisten</title>
    <link rel="stylesheet" th:href="@{about.css}" href="../static/about.css">
</head>
<body>
<div class="box">
<h1>Om Ønskelisten</h1>
    <p class="text1"> • Ønskelisten er en online tjeneste, hvor du kan oprette dine digitale ønskelister – og dele dine julegave-, fødselsdags-
        og andre ønsker med dine nærmeste.
    </p>
    <p class="text2"> • Hvad enten du planlægger bryllup, skal holde barnedåb, fejrer ny udsprungne studenter eller skal holde et brag af en fødselsdagsfest, så kan du oprette en ønskeliste til begivenheden.
        Du kan oprette så mange forskellige ønskelister du har lyst til – hver til sit formål.
    </p>
    <p class="text1"> • Opret dig som bruger af Ønskelisten, og hav din ønskeliste klar om to minutter.
    </p>

    <p class="text2"> • Tilføj nemt og hurtigt nye ting til dine lister – så har du altid en up-to-date ønskeliste ved hånden, næste gang det er gavetid. Ønskelisten er en smart tjeneste hvor du kan oprette ønskelister og nemt tilføje nye ønsker. Både på din computer
        og på mobil er din ønskeliste aldrig mere end et par klik eller tryk væk.
    </p>
</div>





</body>
</html>