<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<script src="https://kit.fontawesome.com/b29eea348e.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{seeWishList.css}" href="../static/seeWishList.css">

<div class="icon-bar">

    <a class="active" href="/account"><i class="fa fa-home"></i></a>
    <a href="/add-wish"><i class="fa-solid fa-list-check"></i></a>
    <a href="#"><i class="fa-solid fa-user"></i></a>
</div>

<div class="wishlist" style="margin-top: -15%">
<h1>Din Ønskeliste ⛅️</h1>
<table>
    <thead>
    <th>
        Wish name
    </th>
    <th>
        Wish link
    </th>
    </thead>
    <tbody>
    <tr th:each = "wish: ${wishes}">
        <td th:text="${wish.name}"/>
        <td th:text="${wish.link}"/>

    </tr>
    </tbody>
</table>
</div>
</body>
</html>