<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Wish</title>
</head>
<body>
<script src="https://kit.fontawesome.com/b29eea348e.js" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Din Forside</title>
<link rel="stylesheet" th:href="@{styleaddWish.css}" href="../static/styleaddWish.css">
<link rel="stylesheet" th:href="@{styleBattal.css}" href="../static/styleBattal.css">
</head>


<div class="icon-bar">

    <a class="active" href="#"><i class="fa fa-home"></i></a>
    <a href="#"><i class="fa-solid fa-user"></i></a>
    <a href="/add-wish"><i class="fa-solid fa-list-check"></i></a>
    <a href="#"><i class="fa fa-trash"></i></a>
</div>

<h1 class="opret-ønskeseddel">
    Din ønskeseddel 🛍
</h1>

<form method="POST" action="/adding" class="form-group">
    <div class="form-group">
        <label for="wish_name">
            <span class="hidden">Wish Name</span></label>
        <input autocomplete="wish_name" id="wish_name" type="text" name="wish_name" class="form__input"
               placeholder="Hvad ønsker du?" required>

        <label for="wish_link">
            <span class="hidden">Wish Link</span></label>
        <input autocomplete="wish_link" id="wish_link" type="text" name="wish_link" class="form__input"
               placeholder="Link/Url" required>

        <button type="submit" >+</button>
    </div>
</form>

</body>
</html>