<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wish List</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="container">

    <h1>
        <a href="#menu">ØNSKELISTEN</a>
    </h1>

    <div class="popover" id="menu">
        <div class='content'>
            <a href="#" class="close"></a>
            <div class='nav'>
                <ul class='nav_list'>
                    <div class='nav_list_item'>
                        <li><a href="https://wishlistdk.azurewebsites.net/login">Login</a></li>
                    </div>

                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>

<!--
 TODO:
 Krav:
 -Layout, vi skal have design for siden, samt de forskellige tekst informationer

 -Hvilket produkter skal der kunne ønskes for, hvor findes informationen, og hvordan implementeres den?
 evt. kan vi tage brug af valuta opgaven vi havde, og kopier hans metode ift. downloade produkter online

 -Login service, samt validering af de givede informationer. evt skal koden skrives to gange(add til services)

 -Reservere ønsker? no idea hvad det betyder

 -Dele service, man kan dele sin ønskeliste. Det vil nok kræve at ønsker har specifikke id'er.
 Hvis vi tager brug af dette, så skal ønskelister lister have et id for offentlig deling,
 i forhold til redigering kan der bare forbindes brugernavn, og når sagt bruger ser listen er der en metode
 som giver dem redigerings rettigheder

 Til sidst skal det uploades i cloud, Azure osv.

 -->



