<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/b29eea348e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Din Forside</title>
    <link rel="stylesheet" th:href="@{index-logged-in.css}" href="../static/index-logged-in.css">
</head>
<body>

<div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i></a>
    <a href="#"><i class="fa fa-search"></i></a>
    <a href="#"><i class="fa-solid fa-list-check"></i></a>
    <a href="#"><i class="fa fa-trash"></i></a>
</div>

<div class="main">
    <section></section>
</div>

</body>
</html>