<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/b29eea348e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Din Forside</title>
    <link rel="stylesheet" th:href="@{seeWishList.css}" href="../static/seeWishList.css">
</head>
<body>

<form method="GET" action="/view-wishlist">

<label>
<input type="button" id="" value="Se ønskeliste" onclick=>
    </label>
</body>
</html>